<!DOCTYPE html>
<html>
<head>
  <title>User list exercise</title>
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>

  <%= stylesheet_link_tag "application", media: "all" %>
  <%= javascript_include_tag "application" %>

  <%= yield :head %>
</head>

<body>

<main role="main" class="container">

  <div class="main_page_container">
    <%= yield %>
  </div>

  <div class="footer_container">
    &copy; <%= Time.zone.now.year %> by Joseph Terry
	<span id="time_zone_msg">All times <%= TIME_ZONE_DISPLAY %>.</span>
  </div>
  
</main>

</body>
</html>
